%footer.footer
  .footer-links
    %ul
      %li
        %a{href: "#{root_path}#pricing"}
          = t("pages.prices")

      %li
        = form_tag '/', method: 'get', id: 'locale', enforce_utf8: false  do
          = select_tag 'language', options_for_select(I18n.available_locales, I18n.locale)
  %hr/
  %p

    Stworzone przez
    %a{href: "https://redweb.pl", target: "_blank"} redweb.pl
    %a{href: "/pages/about"} about
