- localized_cache static_cache_key_for(:team) do
  .hero.team-header
    .hero-inner
      .hero-copy
        = link_to root_path do
          %h1#logo
            = image_tag("logo-white-shadow.png", alt: 'Hours')
        %h2 The Team

  = render "footer"
